@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f2eadf;
}
.container{
    position: relative;
    width: 340px;
    height: 90vh;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
